.light {
    background: rgb(255, 255, 255) url('../../repositorioImagens/FundoSkills.png') no-repeat center/cover;
    background-blend-mode: multiply;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 100%;


}

.dark {
    background: rgb(93, 93, 93) url('../../repositorioImagens/FundoSkills.png') no-repeat center/cover;
    background-blend-mode: multiply;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-width: 100%;
}


.GastosResidenciais {
    margin: 0;
    margin-top: 100px;
    border-radius: 8px;
    margin-top: 90px;
    padding-top: 1px;
    padding-bottom: 1px;

}

.GastosResidenciais h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.dark .GastosResidenciais h1 {
    color: #ffffff;
}

section {
    margin-bottom: 30px;
    max-width: 90%;
    margin-left: 2.5%;
    padding: 1.5rem;
    background: rgba(21, 21, 21, 0.03);
    border-radius: 8px;
    transition: background 0.3s;
    background-color: rgb(229, 229, 229);


}

.dark section {
    background: rgba(255, 255, 255, 0.05);
}

section h2 {
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
}



@media (max-width: 1050px) {

    .light {
        width: 100vw;
        min-width: 100vw;
    }

    .dark {
        width: 100vw;
        min-width: 100vw;
    }

    .GastosResidenciais {

        margin-top: 50px;
    }

    .GastosResidenciais h1 {
        font-size: 2rem;
    }

    section {
        margin-bottom: 30px;
        min-width: 75%;
        max-width: 90%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        padding: 1.5rem;
        background: rgba(21, 21, 21, 0.03);
        border-radius: 8px;
        transition: background 0.3s;
        background-color: rgb(229, 229, 229);
        display: block;
        overflow-x: auto;

    }


}